body{
  background-color: #a4b0be;
}

.Layout{
  background-color: #eccc68;
}
.Header{
  color: #ff4757;
  text-align: center;
}

.search{
  text-align: center;
}

.description{
  position: relative;
}

.description-text{
  position: relative;
  float: inline-start;
  max-width: 1000px;
  left: 300px;
  text-align: justify;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  top: 0px;
}

img {
  float: 300px;
  width:  800px;
  height: 500px;
  object-fit: cover;
}